:root {
  --color-primario: #fff;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 80%;
  min-height: 100vh;
}

.container {
min-height: 800px;
  border: 3px solid #424242;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px, -5px -5px 10px;
  min-width: 380px;
  background-color: black;
}
.phone__screen {
  border-width: 8px 8px 20px;
  border-style: solid;
  border-radius: 15px 15px 50px 50px;
  height: 98vh;
  width: 100%;
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}
.phone__screen__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
}
.time {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-primario);
}
.time__img {
  width: 17px;
  height: 17px;
}
.search__bar {
  background-color: #ffffff83;
  width: 70%;
  margin: 50px auto;
  border-radius: 30px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__bar__icons--mic {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search__bar__icons--google {
  display: flex;
  align-items: center;
}
.search__bar__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.google__icon {
  width: 30px;
}
.google__icon--mic {
  width: 20px;
}
.date {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}
.footer-screen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding-bottom: 20px;
}
.footer__apps {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__apps__img {
  width: 40px;
}
.footer__document {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.footer__document__img {
  width: 50px;
}
@media (max-width: 600px) {
  .proyectos {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    background-color: black;
    width: 100%;
    transform: scale(0);
    transition: ease-out 0.1s;
    justify-content: space-between;
  }
  .proyectos__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    margin-bottom: 15px;
  }
  .proyectos__time {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-primario);
  }
  .proyectos__time__img {
    width: 17px;
    height: 17px;
  }
  .proyectos__hr {
    opacity: 50%;
  }
  .proyectos__navbar__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  .proyectos__cards {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .proyectos__card {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
  }
  .proyectos__card__img {
    width: 150px;
    height: 110px;
    border: 1px solid rgba(255, 255, 255, 0.418);
  }
  .proyectos__card__text {
    color: var(--color-primario);
  }
  .proyectos:target {
    transform: scale(1);
  
  }
  .proyectos__footer{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
}
@media (min-width: 600px) {
  .phone__screen {
    background-image: url(../images/fondo-tablet.jpg);
    background-size: cover;
  }
  .time__img {
    display: none;
  }
  .phone__screen {
    border: 20px solid black;
    border-radius: 35px;
  }
  .container {
    background-color: black;
  }
  .proyectos {
    display: none;
  }
}
