:root {
  --color-primario: #fff;
  --bold-weight: 700;
  --backgoound-bars: #444242d7;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  padding-top: 20px;
}

.container {
  min-height: 800px;
  border: 3px solid #424242;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px, -5px -5px 10px;
  min-width: 380px;
  background-color: black;
}
.phone__screen {
  border-width: 8px 8px 20px;
  border-style: solid;
  border-radius: 15px 15px 50px 50px;
  height: 95vh;
  background-image: url(../images/fondo-telefono-2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 900px;
  min-height: 800px;
}
.phone__screen__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  position: absolute;
  width: 100%;
  z-index: 20;
}
.phone__screen__time__and__date {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-primario);
}
.time__and__date__img {
  width: 17px;
  height: 17px;
}
.phone__screen__date {
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
  color: var(--color-primario);
}
.phone__screen__searching__bar {
  background-color: var(--backgoound-bars);
  width: 70%;
  margin: 90px auto 50px auto;
  border-radius: 30px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.searching__bar__container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1a1919;
  z-index: 12;
  border-radius: 8px;
  padding: 50px 18px 10px;
  transform: scale(0);
  transition: ease-out 0.2s;
}
.searching__bar__container:target {
  transform: scale(1);
}
.searching__bar__google {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.searching__bar__google__content {
  display: flex;
  flex-direction: column;
}
.searching__bar__google__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #838080c4;
}
.google__header__icon {
  width: 25px;
}
.google__header__icon__text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.google__header__icon--mic {
  height: 20px;
  width: 15px;
}
.google__header__text {
  color: #928e8e;
  font-size: 1rem;
}
[placeholder="Buscar..."] {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50px;
  height: 30px;
}
[placeholder="Buscar..."]:focus {
  outline: none;
}
.google__content__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.google__content__item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.google__content__search__text {
  color: var(--color-primario);
}
.searching__bar__icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searching__bar__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: var(--color-primario);
}
.searching__bar__icon {
  width: 30px;
}
.searching__bar__icon--mic {
  width: 20px;
}
.phone__screen__footer__container {
  padding-bottom: 50px;
}
.phone__screen__footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding-bottom: 20px;
}
.footer__apps {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__apps__img {
  width: 40px;
}
.footer__documents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer__document {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: center;
}
.footer__document__link {
  width: max-content;
}
.footer__document__img {
  width: 45px;
  height: 45px;
}
.footer__document__text {
  font-weight: var(--bold-weight);
  color: var(--color-primario);
}
.navigation__icons {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 23;
}
.navigation__icons a:active {
  background-color: #928e8e38;
  outline: 10px solid #928e8e38;
  border-radius: 10px;
}

/*MOBILE DESIGN*/
@media (max-width: 600px) {
  .phone__screen {
    max-height: 100vh;
  }
  .proyectos {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    background-color: black;
    width: 100%;
    transform: scale(0);
    transition: ease-out 0.2s;
    padding-top: 50px;
  }
  .proyectos__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    margin-bottom: 15px;
  }
  .proyectos__time {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-primario);
  }
  .proyectos__time__img {
    width: 17px;
    height: 17px;
  }
  .proyectos__hr {
    opacity: 50%;
  }
  .proyectos__navbar__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  .proyectos__cards {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .proyectos__card {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
    flex-basis: 160px;
  }
  .proyectos__card__img {
    width: 150px;
    height: 110px;
    border: 1px solid rgba(255, 255, 255, 0.418);
  }
  .proyectos__card__text {
    color: var(--color-primario);
  }
  .proyectos:target {
    transform: scale(1);
  }
  .navigation__icons {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
  .navigation__icon__link--tablet {
    display: none;
  }
  .time__and__date__date {
    display: none;
  }
  [placeholder="Buscar..."] {
    width: 280px;
  }
  .footer__document{
    width: 120px;
  }
}
/*DESKTOP DESIGN*/
@media (min-width: 600px) {
  .container {
    background-color: black;
    min-width: 1200px;
  }
  .phone__screen {
    background-image: url(../images/fondo-tablet-2.webp);
    background-size: cover;
    border: 30px solid black;
    border-radius: 45px;
  }
  .phone__screen__header {
    padding: 10px 20px;
  }
  .time__and__date__img {
    position: absolute;
    top: 400px;
    left: -23px;
    z-index: 10;
    transform: scale(0.8);
  }
  .phone__screen__searching__bar {
    width: 45%;
  }
  .searching__bar__text {
    display: none;
  }

  .phone__screen__date {
    display: none;
  }
  .time__and__date__date {
    color: var(--color-primario);
  }
  .container {
    max-width: 1300px;
  }
  .footer__apps {
    margin: 0 auto;
    background-color: var(--backgoound-bars);
    padding: 20px;
    justify-content: center;
    width: max-content;
    border-radius: 20px;
    gap: 100px;
  }
  .footer__apps__img {
    transform: scale(1.3);
    background-color: var(--color-primario);
    box-sizing: content-box;
    padding: 5px;
    border-radius: 10px;
  }
  .footer__document__img {
    transform: scale(1.3);
  }
  .footer__document__text {
    font-weight: var(--bold-weight);
    color: var(--color-primario);
    font-size: 1.2rem;
  }
  .navigation__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  .navigation__icon__link {
    display: none;
  }
  .proyectos {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    background-color: black;
    width: 100%;
    transform: scale(0);
    transition: ease-out 0.2s;
    padding: 18px 10px;
    padding-top: 80px;
  }
  .proyectos__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    margin-bottom: 15px;
  }
  .proyectos__time {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-primario);
  }
  .proyectos__time__img {
    display: none;
  }
  .proyectos__hr {
    opacity: 50%;
    margin: 15px 0;
  }
  .proyectos__navbar__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .proyectos__cards {
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
  }
  .proyectos__card {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
  }
  .proyectos__card__img {
    width: 300px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.418);
  }
  .proyectos__card__text {
    color: var(--color-primario);
    text-transform: uppercase;
    font-weight: var(--bold-weight);
  }
  .proyectos:target {
    transform: scale(1);
  }

  [placeholder="Buscar..."] {
    width: 1150px;
  }
}
